/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.box{
 width:10px;
 height:10px;
 border: 1px solid black;
 display: inline-block;
 border-radius: 10px;
 
 
}

.red{
  background-color: red;
  color:white
}

.black{
  background-color: black;
  color:white
}

.white{
  background-color: white;
  color:black
}

.red-theme{
  background-color: red;
  color:white
}

.black-theme{
  background-color: black;
  color:white
}

.white-theme{
  background-color: white;
  color:black
}



